@model RegistroBioseguridad.ServiceReference1.CrudBioseguridad1SoapClient

@{
    ViewBag.Title = "Consultar";
}

<h2>Consultar</h2>

<div>
    <h4>CrudBioseguridad1SoapClient</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
