
@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script>
        $(document).ready(function () {
                mostrarTabla();
        });
            function cerrarModal() {
                $("#nombreMod").val("");
                $("#apeMod").val("");
                $("#orgMod").val("");
                $("#codMod").val("");
                $("#fechMod").val("");
                $("#idMod").val("");
                $("#idsMod").val("");
                $("#sF2").attr("hidden", true);
                $("#exampleModal").modal("hide");

            }
            function guardarProducto() {

                if ($('#idMod').val() == "" || $('#nombreMod').val() == "" || $('#apeMod').val() == "" || $('#codMod').val() == "" || $('#orgMod').val() == "" || $('#fechMod').val() == "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Debe llenar todos los campos!',
                    });
                } else {

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GuardarVisitante", "Consulta")",
                        traditional: true,
                        data: {
                            identificacion: $("#idMod").val(),
                            id: $("#idsMod").val(),
                            nombre: $("#nombreMod").val(),
                            apellido: $("#apeMod").val(),
                            codigoIngreso: $("#codMod").val(),
                            organizacion: $("#orgMod").val(),
                            fechaIngreso: $("#fechMod").val()
                        },
                        success: function (data) {
                            if (data.mensaje == "Ya existe el registro en la base de datos") {
                                $("#sF2").attr("hidden", false);

                            } else if (data.mensaje == "Registro creado exitosamente" || data.mensaje == "Registro editado exitosamente") {
                                $("#nombreMod").val("");
                                $("#orgMod").val("");
                                $("#apeMod").val("");
                                $("#idMod").val("");
                                $("#idsMod").val("");
                                $("#codMod").val("");
                                $("#fechMod").val("");
                                $("#sF2").attr("hidden", true);

                                $("#exampleModal").modal("hide");

                                Swal.fire({
                                    icon: 'success',
                                    title: 'Realizado...',
                                    text: 'Dato Agregado y/o modificado!',
                                });
                                mostrarTabla();
                            }

                        },
                        error: function () { alert("Controller Error, Method: Edit"); }
                    });
                }
            }

            function openModalEditarReg(id) {
                $("#idMod").attr("disabled", false);

                if (id != 0) {
                    $("#idMod").attr("disabled", true);
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetVisitante", "Consulta")",
                    traditional: true,
                            data: {
                                idVisitante: id,
                            },
                    success: function (data) {

                        if (data.visitante.Identificacion != 0) {
                            $("#nombreMod").val(data.visitante.Nombre);
                            $("#orgMod").val(data.visitante.Organizacion);
                            $("#apeMod").val(data.visitante.Apellido);
                            $("#idMod").val(data.visitante.Identificacion);
                            $("#idsMod").val(data.visitante.Identificacion);
                            $("#fechMod").val(data.visitante.FechaIngreso);
                            $("#codMod").val(data.visitante.CodigoIngreso);
                        } else {
                            $("#idsMod").val(0);
                            $("#nombreMod").val("");
                            $("#apeMod").val("");
                            $("#orgMod").val("");
                            $("#codMod").val("");
                            $("#fechMod").val("");
                            $("#idMod").val("");
                            $("#sF2").attr("hidden", true);
                            $("#exampleModal").modal("hide");
                        }
                        $("#exampleModal").modal("show");

                    },
                    error: function () { alert("Controller Error, Method: Edit"); }
                });
            }

        function btnBorrarReg(id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("EliminarVisitante", "Consulta")",
                traditional: true,
                        data: {
                            identificacion: id,
                        },
                        success: function (data) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Realizado...',
                                text: 'Visitante eliminado!',
                            });

                            mostrarTabla();
                },
                error: function () { alert("Controller Error, Method: Edit"); }
            });
        }

        function mostrarTabla() {
                table = $('#tabla_id').DataTable();
                table.destroy();
                $("#tabla_id").dataTable({
                    "responsive": true,
                    "processing":true,
                    "serverSide":true,
                    "ajax": {
                        url: "@Url.Content("~/Consulta/MostrarTabla")",
                        "type": "POST",
                        "datatype": "json",
                    },
                    "PageLength": 10,
                    "filter": true,
                    "responsivePriority": 1,
                    "data": null,
                    "columns": [
                        {
                            data: 'Identificacion',
                            name: 'Identificacion'
                        },
                        {
                            data: 'CodigoIngreso',
                            name: 'CodigoIngreso'
                        },
                        {
                            data: 'Nombre',
                            name: 'Nombre'
                        },
                        {
                            data: 'Apellido',
                            name: 'Apellido'
                        },
                        {
                            data: 'Organizacion',
                            name: 'Organizacion'
                        },
                        {
                            data: 'FechaIngreso',
                            name: 'FechaIngreso'
                        },
                        {
                            orderable: false,
                            "render": function (data, type, row, meta) {
                                return '<button class="btn btn-danger btn-sm" onclick="btnBorrarReg(' + data + ')"><i class="fa fa-trash"></button>';
                            },
                            data: 'Icono',
                            name: 'Icono',
                            width: "5px"
                        },
                        {
                            orderable: false,
                            "render": function (data, type, row, meta) {
                                return '<button class="btn btn-success btn-sm" onclick="openModalEditarReg(' + data + ')"><i class="fa fa-pencil"></button>';

                            },
                            data: 'Icono',
                            name: 'Icono',
                            width: "5px"
                        },
                    ],
                });
        }
    </script>
}

<div>
    <h1>
        LISTA DE VISITANTES
    </h1>
    <div class="col-xs-12">
        <div class="box">
            <div class="row" style="padding-bottom:3rem">
                <div class="col-sm-2">
                    <div>
                        <button type="button" class="btn btn-primary" onclick="openModalEditarReg(0);"> Nuevo Visitante</button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="tabla_id" class="justify-content-center table table-bordered table-hover table-striped table-condensed display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Identificación</th>
                            <th>Código Ingreso</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Organización</th>
                            <th>Fecha Ingreso</th>
                            <th>Eliminar</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Visitante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Nombre</label>
                <input type="text" class="form-control" id="nombreMod" name="nombreMod" value="" />
                <label>Apellido</label>
                <input type="text" class="form-control" id="apeMod" name="apeMod" value="" />
                <label>Identificación</label>
                <input type="number" class="form-control" id="idMod" name="idMod" value="" />
                <label>Código Ingreso</label>
                <input type="number" class="form-control" id="codMod" name="codMod" value="" />
                <label>Organización</label>
                <input type="text" class="form-control" id="orgMod" name="orgMod" value="" />
                <label>Fecha Ingreso</label>
                <input type="date" class="form-control" id="fechMod" name="orgMod" value="" />


                <input hidden disabled type="text"  id="idsMod" name="idsMod" value="" />
                <br />
                <p id="sF2" style="color:red" hidden >*Ya existe un usuario con esa identificación</p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardarProducto()">Guardar</button>
            </div>
        </div>
    </div>
</div>

